<.header>
  New Loan product
  <:subtitle>Use this form to manage loan_product in the system.</:subtitle>
</.header>

<.loan_product_form changeset={@changeset} action={~p"/admin/loan_products"} />

<.back navigate={~p"/admin/loan_products"}>Back to loan_products</.back>
