<.header>
  Edit Loan type <%= @loan_type.id %>
  <:subtitle>Use this form to manage loan_type in the system.</:subtitle>
</.header>

<.loan_type_form changeset={@changeset} action={~p"/admin/loan_types/#{@loan_type}"} />

<.back navigate={~p"/admin/loan_types"}>Back to loan_types</.back>
