<.header>
  New Product
  <:subtitle>Use this form to manage product records in your database.</:subtitle>
</.header>

<.product_form changeset={@changeset} action={~p"/admin/products"} />

<.back navigate={~p"/admin/products"}>Back to products</.back>
