<.header>
  New Loan payment
  <:subtitle>Use this form to manage loan_payment records in your database.</:subtitle>
</.header>

<.loan_payment_form changeset={@changeset} action={~p"/loan_payments"} />

<.back navigate={~p"/loan_payments"}>Back to loan_payments</.back>
