<.header>
  Add Payment Method
  <:subtitle>Use this form to manage payment methods in the system.</:subtitle>
</.header>

<.payment_method_form changeset={@changeset} action={~p"/admin/payment_methods"} />

<.back navigate={~p"/admin/payment_methods"}>Back to payment_methods</.back>
